<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Calculator LM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body class="w3-sepia">
        <div class="w3-row" ng-app="myApp" ng-controller="myCtrl">
            <div class="w3-col w3-container w3-card">
                <h2>Calculator for Lords Mobile Game</h2>
            </div>
            <div class="w3-col">
                <hr>
            </div>
            <div class="w3-col m4 w3-container">
                <div class="w3-cell-row">
                    <div class="w3-cell">
                        <div class="w3-bar-block">
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(1)">{{ formatValue(1) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(5)">{{ formatValue(5) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(15)">{{ formatValue(15) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(60)">{{ formatValue(60) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(480)">{{ formatValue(480) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(1440)">{{ formatValue(1440) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(10080)">{{ formatValue(10080) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="saveOnMemory()">&gt; Memory</button>
                        </div>
                    </div>
                    <div class="w3-cell">
                        <div class="w3-bar-block">
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(3)">{{ formatValue(3) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(10)">{{formatValue(10) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(30)">{{ formatValue(30) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(180)">{{ formatValue(180) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(900)">{{ formatValue(900) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(4320)">{{ formatValue(4320) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="addCard(43200)">{{ formatValue(43200) }}</button>
                            <button class="w3-bar-item w3-btn w3-ripple" ng-click="clearMemory()">Clear Memory</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-col m6 w3-container">
                <form novalidate>
                    <table class="w3-table w3-striped w3-hoverable">
                        <tr>
                            <th class="w3-right-align">Quantity</th>
                            <th class="w3-right-align">Resource</th>
                            <th><button class="w3-tooltip w3-btn w3-ripple" ng-click="removeCard(-1)">&times;<span class="w3-text">Remove all lines</span></button></th>
                        </tr>
                        <tr ng-repeat="x in cards">
                            <td class="w3-right-align"><input id="{{'card'+x.id}}" type="number" class="w3-right-align" ng-change="refresh()" ng-model="x.qty"><span ng-if="$last">{{ focus(x.id) }}</span></td>
                            <td class="w3-right-align">{{ formatValue(x.value) }}</td>
                            <td><button class="w3-tooltip w3-btn w3-ripple" ng-click="removeCard(x.id)">&times;<span class="w3-text">Remove this line</span></button></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="w3-col m2 w3-container w3-card">
                <h4>Sum</h4>
                <h3>{{ formatValue(sum) }}</h3>
                <div id="Memory" class="w3-hide">
                    <h5>Memory</h5>
                    <p>{{ formatValue(memory) }}</p>
                    <h5>Total</h5>
                    <p>{{ formatValue(total) }}</p>
                </div>
            </div>
            <div class="w3-col w3-container w3-card">
                <hr>
                <button class="w3-btn w3-ripple" ng-click="toggleAbout()">About & Help</button>
                <div id="About" class="w3-hide">
                    <p>This calculator can help you sum up the accelerators from Lords Mobile game. It run on the browser and should work equally well on desktops, laptops, tablets and mobiles.</p>
                    <p>Use the Time Interval buttons (minutes, hours and days), then place the correspondig quantity of accelerators and see the result on the display at the end (near the word "Sum").</p>
                    <p>Use the Remove buttons (&times;) to remove each accelerator. To remove all those at once, use the Remove button located at the top, near the "Resource" header.</p>
                    <p>The buttons Store to Memory and Clear Memory can reserve a previous result to add up to another set of accelerators.</p>
                    <p>If necessary you can ask for support sending a message to the <a href="email:alvfig666@gmail.com">author</a>.</p>
                    <p>This project is on <a href="https://github.com/alvfig/calclm">Github</a>.</p>
                </div>
            </div>
        </div>

        <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.shouldFocus = false;
            $scope.memory = 0;
            $scope.total = 0;
            $scope.cards = [];
            $scope.refresh = function() {
                $scope.sum = 0;
                for (var i = 0; i < $scope.cards.length; i++) {
                    $scope.cards[i].id = i;
                    $scope.sum += $scope.cards[i].qty * $scope.cards[i].value;
                }
                var e = document.getElementById("Memory");
                if (0 < $scope.memory) {
                    $scope.total = $scope.sum + $scope.memory;
                    if (-1 == e.className.indexOf("w3-show")) {
                        e.className += " w3-show";
                    }
                } else {
                    if (-1 < e.className.indexOf("w3-show")) {
                        e.className = e.className.replace(" w3-show", "");
                    }
                    $scope.total = 0;
                }
            };
            $scope.refresh();
            $scope.focus = function(id) {
                if ($scope.shouldFocus) {
                    document.getElementById('card'+id).focus();
                    $scope.shouldFocus = false;
                }
            };
            $scope.addCard = function(v) {
                $scope.cards.push({id:$scope.cards.length,value:v,qty:1})
                $scope.refresh();
                $scope.shouldFocus = true;
            };
            $scope.removeCard = function(i) {
                if (-1 == i) {
                    $scope.cards = [];
                } else {
                    $scope.cards.splice(i, 1);
                }
                $scope.refresh();
            };
            $scope.formatValue = function(minutes) {
                function formatPart(str, minutes, divisor, unit) {
                    var value = Math.floor(minutes / divisor);
                    minutes %= divisor;
                    if (0 < value) {
                        if (str) {
                            str += ' ';
                        }
                        str += value + ' ' + unit;
                        if (1 < value) {
                            str += 's';
                        }
                    }
                    return {str:str,minutes:minutes};
                }

                var str = '';

                // Evaluate & format days
                part = formatPart(str, minutes, 1440, 'day');
                str = part.str;
                minutes = part.minutes;

                // Evaluate & format hours
                part = formatPart(str, minutes, 60, 'hour');
                str = part.str;
                minutes = part.minutes;

                // Format minutes
                part = formatPart(str, minutes, 1, 'minute');
                str = part.str;
                minutes = part.minutes;

                return str;
            };
            $scope.saveOnMemory = function() {
                $scope.memory = $scope.sum;
                $scope.refresh();
            };
            $scope.clearMemory = function() {
                $scope.memory = 0;
                $scope.refresh();
            };
            $scope.toggleAbout = function() {
                var e = document.getElementById("About");
                if (-1 == e.className.indexOf("w3-show")) {
                    e.className += " w3-show";
                } else {
                    e.className = e.className.replace(" w3-show", "");
                }
            };
        });
        </script>
    </body>
</html>
